:root {
    
    --border-color: rgb(80, 79, 79);
    --header-color: rgb(253, 253, 251);
    --text-color: rgba(221, 220, 217, 0.774);
    --soft-text-color: rgba(133, 131, 136, 0.644);
    --italic-text-color: rgba(217, 213, 223, 0.644);

    --anchor-color-active: rgba(82, 129, 231, 0.986);
    --anchor-color-hover: rgba(255, 255, 255, 0.986);
    --anchor-inactive-color: rgb(112, 114, 117);
    
    --span-border-color: rgb(136, 134, 134);
    --span-text-color: rgb(213, 212, 208);
    --span-background-color: rgba(51, 52, 53, 0.986);
}

* { 
    text-decoration: none;
    color: var(--text-color);
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--anchor-inactive-color);
}

a:hover {
    color: var(--anchor-color-hover);
}

.current {
    color: var(--anchor-color-active);
}

h3, h4, h5 {
    color: var(--header-color);
    margin: 0px;
    padding: 0px;
}

html {
    background-color: rgb(26, 32, 26);
    scroll-behavior: smooth;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

html::-webkit-scrollbar {
    display: none; 
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    min-height: 50px;
    padding: 0px 215px;
    border-bottom: 1px solid var(--border-color);
}

.skills-div,
.resume-div,
.education-div {
    line-height: 1.5;
}

.timelapse {
    font-style: italic;
    color: var(--italic-text-color);
    font-size: 14px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 16px 0px;
}

.redirects {
    font-size: 14px;
    color: var(--soft-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin: 0px;
    padding: 8px;
}

.skills-div {
    border-left: 1px solid var(--border-color);
    border-width: 2px;
    padding-left: 20px;
    margin-bottom: 20px;
    height: 5rem;
}

.resume-div {
    border-left: 1px solid var(--border-color);
    border-width: 2px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.skills-div span {
    color: var(--span-text-color);
    font-size: 14px;
    background-color: var(--span-background-color);
    border: 2px solid var(--span-border-color);
    border-radius: 15px;
    margin-right: 10px;
    padding: 5px;
}

nav h2 {
    color: var(--header-color);
    margin: 0px;
    padding: 8px;
    padding-top: 12px;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 80px;
    max-width: 45%;
    flex: 1;
}

main h1 {
    color: var(--header-color);
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}

main p {
    width: 75%;
    text-wrap: balance;
}

#experience {
    margin-top: 20px;
}

#experience h2,
#education h2,
#skills h2 {
    color: var(--header-color);
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

#skills h3 {
    color: var(--header-color);
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0px;
}




footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 50%;
    padding: 0px 285px;
    gap: 10px;
    border-top: 1px solid var(--border-color);
}



footer p {
    color: var(--soft-text-color);
    margin: 0px;
    padding: 8px;
    font-size: 15px;
}

